@use "./node_modules/@material/icon-button";
@use "./node_modules/@material/top-app-bar/mdc-top-app-bar";
@use "./node_modules/@material/drawer";
@use "./node_modules/@material/list";

@include drawer.core-styles;
@include drawer.dismissible-core-styles;
@include drawer.modal-core-styles;
@include list.core-styles;
@include icon-button.core-styles;


body {
  display: flex;
  height: 100vh;
  margin: 0px;
}
main{
	height: 100%;
	width: 100%;
	margin: auto;
	padding: 20px;
}

.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
  position: relative;
}

.main-content {
	margin: 0px;
  overflow: auto;
  height: auto;
  width: 100%;
}

.app-bar {
  position: absolute;
}

.mdc-top-app-bar {
  z-index: 7;
}