@use "./node_modules/@material/icon-button";
@use "./node_modules/@material/top-app-bar/mdc-top-app-bar";
@use "./node_modules/@material/drawer";
@use "./node_modules/@material/list";

@include drawer.core-styles;
@include drawer.dismissible-core-styles;
@include drawer.modal-core-styles;
@include list.core-styles;
@include icon-button.core-styles;


body {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0px;
}
#Map{
	height: 100%;
}

.mdc-text-field{
	margin: 16px;
}
.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
  position: relative;
}

.main-content {
	margin: 5%; 
	height: 90%;
}

.app-bar {
  position: absolute;
}

.mdc-top-app-bar {
  z-index: 7;
}

.mdc-card {
  margin: 16px;
}
.mdc-card__text-wrapper {
  padding: 16px;
}
.mdc-card__title {
  font-size: 30px;
}
.mdc-card__subtitle {
  font-size: 20px;
  color: gray;
}
.mdc-card__description {
  font-size: 20px;
  color: #1B1B1B;
}
.mdc-card__address {
  font-size: 20px;
  color: darkgray;
}
.mdc-card__address:hover {
  color: #1B1B1B;
}